.bg-round-icon1 {
  position: absolute;
  top: 0;
  left: 789px;
  width: 620px;
  height: 310px;
  object-fit: cover;
}
.bg-dot-icon1,
.bg-round-icon2,
.bg-tree-icon1 {
  position: absolute;
  top: 641px;
  left: 0;
  width: 481.67px;
  height: 439px;
  object-fit: cover;
}
.bg-dot-icon1,
.bg-tree-icon1 {
  top: 600px;
  left: 1329px;
  width: 507px;
  height: 480px;
}
.bg-dot-icon1 {
  top: 20px;
  left: 25px;
  width: 170px;
  height: 227px;
}


.online-voting-systems2 {
  position: absolute;
  top: 20px;
  left: 102px;
  font-size: var(--font-size-27xl);
  font-family: var(--font-poppins-extrabold);
}
.about1,
.home1 {
  position: absolute;
  top: 40px;
  left: 1329px;
}
.about1 {
  left: 1445px;
}
.contact1,
.desktop-2-child {
  position: absolute;
  top: 40px;
  left: 1574px;
}
.desktop-2-child {
  top: 36px;
  left: 1733px;
  border-radius: var(--br-60xl);
  background-color: var(--color-gainsboro);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
  width: 141px;
  height: 46px;
}
.login1 {
  position: absolute;
  top: 38px;
  left: 1762px;
  color: var(--color-black);
}
.right-side-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-royalblue);
  width: 720px;
  height: 1024px;
}
.right-side-item {
  position: absolute;
  top: 209px;
  left: 57px;
  border-radius: 50%;
  background: linear-gradient(162.74deg, rgba(68, 76, 231, 0.16), transparent),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(68, 76, 231, 0.16),
      rgba(68, 76, 231, 0.06)
    );
  width: 606px;
  height: 606px;
}
.right-side-inner {
  position: absolute;
  top: 247px;
  left: 96px;
  border-radius: 50%;
  background: linear-gradient(
      173.9deg,
      rgba(164, 188, 253, 0.2),
      rgba(68, 76, 231, 0.16)
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(68, 76, 231, 0.16),
      rgba(68, 76, 231, 0.06)
    );
  width: 528px;
  height: 528px;
}
.undraw-two-factor-authenticati-icon {
  position: absolute;
  top: 326.13px;
  left: 67.44px;
  width: 586.49px;
  height: 369.78px;
  overflow: hidden;
}
.carouseldesktoplarge-child,
.carouseldesktoplarge-inner,
.carouseldesktoplarge-item {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 60%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-lavender-100);
}
.carouseldesktoplarge-inner,
.carouseldesktoplarge-item {
  width: 20%;
  right: 30%;
  left: 50%;
  background-color: var(--color-lavender-200);
}
.carouseldesktoplarge-inner {
  right: 0;
  left: 80%;
}
.carouseldesktoplarge {
  position: relative;
  width: 40px;
  height: 8px;
}
.carouseldesktoplarge-wrapper,
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-div {
  position: absolute;
  top: 815px;
  left: 38px;
  padding: var(--padding-31xl) 0;
}
.right-side1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 1024px;
}
.connect-with-any,
.everything-you-need {
  position: absolute;
  top: 749.96px;
  left: 50px;
  line-height: 24px;
  display: inline-block;
  width: 643px;
  height: 25px;
}
.everything-you-need {
  top: 774.96px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-lavender-300);
  height: 26px;
}
.left-side-child,
.right-side {
  position: absolute;
  top: 0;
  left: 720px;
  width: 720px;
  height: 1026px;
}
.left-side-child {
  left: 0;
  background-color: var(--color-ghostwhite);
  height: 1024px;
}
.login-to-your {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 477px;
  height: 38px;
  flex-shrink: 0;
}
.login-to-your-account-wrapper {
  width: 477px;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-inner {
  position: relative;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 121px;
  height: 1px;
}
.frame-group,
.line-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-group {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.envelope-icon {
  position: relative;
  width: 30.04px;
  height: 30.04px;
}
.enrollment-no {
  position: relative;
  line-height: 24px;
}
.envelope-parent {
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue-300);
  border: 2px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
  width: 453px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.shield-slash-icon1 {
  position: absolute;
  top: -0.04px;
  left: 0;
  width: 30.04px;
  height: 30.04px;
}
.password {
  position: absolute;
  top: 3px;
  left: 40px;
  line-height: 24px;
}
.shield-slash-parent {
  position: relative;
  width: 123px;
  height: 30px;
}
.frame-parent3,
.group-parent {
  display: flex;
  justify-content: flex-start;
}
.group-parent {
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue-300);
  border: 2px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
  width: 453px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  gap: 270px;
}
.frame-parent3 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.check-square-icon,
.remember-me {
  position: relative;
  width: 20.03px;
  height: 20.03px;
}
.remember-me {
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 135px;
  height: 28px;
  flex-shrink: 0;
}
.check-square-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.forgot-password {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-cornflowerblue-100);
  display: flex;
  align-items: center;
  width: 215px;
  height: 28px;
  flex-shrink: 0;
}
.frame-parent4 {
  width: 451px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 138px;
}
.frame-parent2,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper1 {
  width: 453px;
  align-items: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-montserrat);
}
.frame-parent2 {
  align-items: center;
  gap: var(--gap-3xs);
}
.log-in-wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue-100);
  width: 453px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.span {
  font-weight: 500;
  color: var(--color-gray-100);
}
.create-an-account {
  color: var(--color-cornflowerblue-100);
}
.submit {
  background-color: rgb(16, 121, 241);
  font-size: 25px; 
  outline: none;
  border: none;
  color: white;
  padding: 10px 25px;
  
}
.dont-have-account-container {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: var(--color-dimgray);
  font-family: var(--font-montserrat);
}
.frame-parent,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-parent1 {
  font-size: var(--font-size-lg);
  color: var(--color-navy);
  font-family: var(--font-inter);
}
.frame-parent {
  position: absolute;
  top: calc(50% - 266.12px);
  left: calc(50% - 238.31px);
}
.left-side,
.login2 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 720px;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-200);
}
.login2 {
  top: 132.92px;
  left: 239px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 8px 4px 5px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 870.78px;
  overflow: hidden;
  transform: rotate(-0.08deg);
  transform-origin: 0 0;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lavender-100);
  font-family: var(--font-montserrat);
}
.desktop-2 {
  position: relative;
  background-color: var(--color-mediumblue);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
