.bg-round-icon11 {
  position: absolute;
  top: 0;
  left: 789px;
  width: 620px;
  height: 310px;
  object-fit: cover;
}
.bg-dot-icon6,
.bg-round-icon12,
.bg-tree-icon6 {
  position: absolute;
  top: 641px;
  left: 0;
  width: 481.67px;
  height: 439px;
  object-fit: cover;
}
.bg-dot-icon6,
.bg-tree-icon6 {
  top: 600px;
  left: 1329px;
  width: 507px;
  height: 480px;
}
.bg-dot-icon6 {
  top: 20px;
  left: 25px;
  width: 170px;
  height: 227px;
}
.online-voting-systems7 {
  position: absolute;
  top: 20px;
  left: 102px;
  font-size: var(--font-size-27xl);
  font-family: var(--font-poppins-extrabold);
}
.about6,
.home6 {
  position: absolute;
  top: 40px;
  left: 1329px;
}
.about6 {
  left: 1445px;
}
.contact6,
.desktop-6-child {
  position: absolute;
  top: 40px;
  left: 1574px;
}
.desktop-6-child {
  top: 36px;
  left: 1733px;
  border-radius: var(--br-60xl);
  background-color: var(--color-gainsboro);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
  width: 141px;
  height: 46px;
  cursor: pointer;
}
.login7 {
  position: absolute;
  top: 38px;
  left: 1762px;
  color: var(--color-black);
}
.right-side-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-royalblue);
  width: 720px;
  height: 1024px;
}
.right-side-child12 {
  position: absolute;
  top: 209px;
  left: 57px;
  border-radius: 50%;
  background: linear-gradient(162.74deg, rgba(68, 76, 231, 0.16), transparent),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(68, 76, 231, 0.16),
      rgba(68, 76, 231, 0.06)
    );
  width: 606px;
  height: 606px;
}
.right-side-child13 {
  position: absolute;
  top: 247px;
  left: 96px;
  border-radius: 50%;
  background: linear-gradient(
      173.9deg,
      rgba(164, 188, 253, 0.2),
      rgba(68, 76, 231, 0.16)
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(68, 76, 231, 0.16),
      rgba(68, 76, 231, 0.06)
    );
  width: 528px;
  height: 528px;
}
.join-us4,
.just-go-through4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 643px;
  height: 25px;
}
.just-go-through4 {
  top: 25px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-lavender-300);
  height: 26px;
}
.join-us-parent1 {
  position: relative;
  width: 643px;
  height: 51px;
}
.carouseldesktoplarge-child13,
.carouseldesktoplarge-child14,
.carouseldesktoplarge-child15 {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 60%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-lavender-100);
}
.carouseldesktoplarge-child14,
.carouseldesktoplarge-child15 {
  width: 20%;
  right: 30%;
  left: 50%;
  background-color: var(--color-lavender-200);
}
.carouseldesktoplarge-child15 {
  right: 0;
  left: 80%;
}
.carouseldesktoplarge5 {
  position: relative;
  width: 40px;
  height: 8px;
}
.group-parent4,
.right-side-inner5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.group-parent4 {
  gap: var(--gap-3xs);
}
.right-side-inner5 {
  position: absolute;
  top: 815px;
  left: 38px;
  padding: var(--padding-31xl) 0;
}
.left-side-child4,
.right-side10,
.right-side11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 1024px;
}
.left-side-child4,
.right-side10 {
  left: 720px;
  height: 1026px;
}
.left-side-child4 {
  left: 0;
  background-color: var(--color-ghostwhite);
  height: 1024px;
}
.thanks-for-voting {
  position: absolute;
  top: 429px;
  left: 146px;
  line-height: 24px;
  display: inline-block;
  width: 477px;
  height: 83px;
}
.left-side10 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 720px;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-200);
}
.icon4 {
  top: 130px;
  left: 734px;
  width: 707px;
  height: 707px;
  object-fit: cover;
  display: none;
}
.face3,
.icon4,
.icon5 {
  position: absolute;
}
.face3 {
  top: 133px;
  left: 240px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 12px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 870px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lavender-100);
  font-family: var(--font-montserrat);
}
.icon5 {
  top: 230px;
  left: 911px;
  width: 793px;
  height: 793px;
  object-fit: cover;
}
.desktop-6 {
  position: relative;
  background-color: var(--color-mediumblue);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
